.body {
	margin: 0px auto;
	max-width: 725px;
}

.body h1 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 70px;
	color: white;
	margin-top: 20px;
	text-shadow: #333 1px 1px 8px;
	margin-bottom: 0px;
	opacity: 0.95;
}

.body h2 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 24px;
	color: #FFF;
	position: relative;
	top: -8px;
	margin-top: 0px;
	text-shadow: #333 1px 1px 5px;
	opacity: 0.95;
	font-weight: normal;
}

.body .content {
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 10px #555;
	padding-bottom: 7px;
}


.section_header {
	background-color: #333;
	color: #EEE;
	text-shadow: 1px 1px 3px #111;
	font-weight: bold;
	font-size: 36px;
	padding: 5px;
	padding-left: 10px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.section_header:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 0px;
}

.method {
	background-color: #F8F8F8;
	border: 1px solid #EEE;
	border-radius: 4px;
	padding: 7px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.method .signature {
	font-family: "Courier New", Courier, monospace;
	font-size: 140%;
	font-weight: bold;
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.param span.name {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	float: left;
	width: 90px;
}

.method > .description {
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: italic;
}

.section {
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 10px;
}

h3 {
	font-size: 20px;
	color: #333;
	border-bottom: 1px solid #EEE;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

span.term {
	float: left;
	font-weight: bold;
	width: 60px;
}

.quote {
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.quote .words {
	font-size: 120%;
	color: #999;
}
.quote .words:before {
    content: "“ ";
    font-size: 290%;
	font-weight: bold;
	color: #DDD;
}
 
.quote .words:after {
    content: " ”";
    font-size: 130%;
    font-weight: bold;
	color: #DDD;
}
.quote .author:before {
    content: "-";
}
.quote .author {
	font-size: 16px;
	color: #CCC;
	padding-left: 30px;
	margin-top: 5px;
}

