body {
	background-color: #2A2A2A;
	background-image: url('../images/noise.png');
	color: #444;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #4169E1;
}

