body {
	background-color: #2A2A2A;
	background-image: url('../images/noise.png');
	color: #444;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #4169E1;
}

.tabs {
	position: relative;
	height: 0px;
	overflow: visible;
	top: 00px;
}

.tabs > .tab {
	width: 100px;
	position: relative;
	left: -100px;
	text-align: left;
	font-family: Tahoma, Geneva, sans-serif;
}

.tab a {
	font-size: 16px;
	display: block;
	text-decoration: none;
	padding: 2px;
	padding-left: 10px;
	background-color: #D3D3D3;
	color: #888;
	-webkit-transition: all 0.2s ease-in-out;
	border-right: 1px solid #AAA;
	text-shadow: #FFF 0px 1px 1px;
	box-shadow: -2px 1px 2px #000;
	position: relative;
}
.tab a:hover {
	color: #686868;
}
.tab.selected a {
	color: #333;
	border-right: 0px;
	border-bottom: 1px solid #AAA;
	border-top: 1px solid #AAA;
	cursor: pointer;
	background-color: white;
	cursor: default;
	text-shadow: #AAA 1px 1px 2px;
}
.tab.selected a:hover {
	color: #444;
	background-color: white;
}

.tabs > .tab:first-child a  {
	border-top-left-radius: 5px;
	padding-top: 3px;
	border-top: 0px;
}
.tabs > .tab:last-child a {
	border-bottom-left-radius: 5px;
	padding-bottom: 3px;
}

.body {
	margin: 0px auto;
	max-width: 725px;
}

.body h1 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 70px;
	color: white;
	margin-top: 50px;
	text-shadow: #000 2px 2px 12px;
	margin-bottom: 0px;
}

.body h2 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	color: #FFF;
	position: relative;
	top: -8px;
	margin-top: 0px;
	text-shadow: #000 1px 1px 5px;
	font-weight: normal;
	margin-bottom: 70px;
}

.body .content {
	border-radius: 10px;
	border-top-left-radius: 0px;
	background-color: white;
	box-shadow: 0px 0px 70px #000;
	padding-bottom: 7px;
	margin-bottom: 70px;
	padding-top: 10px;
}

pre, code, .code {
	font-family: "Courier New", Courier, monospace;
}
