!!! 5
html(lang="en")
  head
    title Brawl IO
    link(type="text/css", rel="stylesheet", href="client/css/main.css")
    link(type="text/css", rel="stylesheet", href="client/css/dashboard.css")
    link(type="text/css", rel="stylesheet", href="vendor/jquery-ui-1.8.14.custom/css/ui-lightness/jquery-ui-1.8.14.custom.css")
    script(src="vendor/require.js")
    script(src="client/require_paths.js")
    script#dashboard_template(type="text/x-handlebars-template")
      .sidebar
        a(id ='dashboard', href="javascript:void(0)")
          h2#my_user_name
        .teams
      .main_view
    script#sidebar_team_template(type="text/x-handlebars-template")
      .team 
        a(href="javascript:void(0)")
          .weight_class
    script#dashboard_team_template(type="text/x-handlebars-template")
      #tabs
        ul
          li
            a(href="#brawls")
              span Brawls
          li
            a(href="#edit")
              span Edit
          li
            a(href="#test")
              span Test
        #brawls Brawls!!!
        #edit
          .editor
            .toolbar
              a.save(href="javascript:void(0)") Save
            .text
              #code {{code}}
        #test
          a#dummy_replay(href="javascript:void(0)") Show replay vs. dummy
          .replay
            .controls
              a.play(href="javascript:void(0)") Play
              a.stop(href="javascript:void(0)") Stop
            canvas.viewer(width="300", height="300")
            .console
    script
      require(["vendor/jquery", "client/brawlio"], function() {
        $(function() {
          BrawlIO.initialize("#{session_key}", $("#dashboard"));
          /*
          window.setTimeout(function() { 
              $("div.team:first").click();
          }, 400);
          window.setTimeout(function() { 
              $("a.test").click();
          }, 500);
          */
        });
      });
  body
    #dashboard
