!!! 5
html(lang="en")
  head
    title Brawl IO
    link(type="text/css", rel="stylesheet", href="client/css/main.css")
    link(type="text/css", rel="stylesheet", href="client/css/dashboard.css")
    link(type="text/css", rel="stylesheet", href="vendor/jquery-ui-1.8.14.custom/css/ui-lightness/jquery-ui-1.8.14.custom.css")
    script(src="vendor/require.js")
    script(src="client/require_paths.js")
    script
      require(["vendor/jquery", "client/brawlio"], function() {
        $(function() {
          BrawlIO.initialize("#{session_key}", $(".content"));
          $("a#king_challenge").click();
        });
      });
  body
    .body
      .crown(style="display: none; text-align:center")
        img(src='client/images/crown.png', height='90px')
      h1(style="margin-top: 5px") Brawl.IO
      .tabs
        .tab.selected#home
          a(href="/") Home
          .subtab#edit
            a(href="#edit_tab") Edit
          .subtab#test
            a(href="#challenge_tab") Challenge
        .tab#reference
          a(href="api") Reference
      .content
        #brawls_tab
          a.logout(href="logout") Log out
        #edit_tab
          #editor
            #toolbar
              a.save(href="javascript:void(0)") Save
            #code
              #ace_editor
        #challenge_tab(style="margin-top: 20px")
          center
            a#king_challenge(href="javascript:void(0)", style="font-size: 32px;") Challenge the king
            .replay
              .controls(style="display:none")
                a.play(href="javascript:void(0)") Play
                a.stop(href="javascript:void(0)") Stop
              canvas.viewer(width="400", height="400")
              .console
