!!! 5
html(lang="en")
  head
    title Brawl IO
    link(rel="shortcut icon", href="favicon.ico")
    != include(bio_inc.dashboard_css)
    != include(bio_inc.dashboard)
  body
    .body
      .crown(style="display: none; text-align:center")
        img(src='client/images/crown.png', height='90px')
      h1(style="margin-top: 5px") Brawl.IO
      .tabs
        .tab.selected#home
          a(href="/") Home
          .subtab#edit
            a(href="#edit_tab") Edit
          .subtab#test
            a(href="#challenge_tab") Challenge
        .tab#reference
          a(href="api") Reference
      .content
        #brawls_tab
          a.logout(href="logout") Log out
        #edit_tab
          #editor
            #toolbar
              a.save(href="javascript:void(0)") Save
            #code
              #ace_editor
        #challenge_tab(style="margin-top: 20px")
          center
            a#king_challenge(href="javascript:void(0)", style="margin-top: 10px; font-size: 32px;") Submit
            .replay(style="position:relative;")
              .result(style="font-size: 34pt;position:absolute;top:30px;text-align:middle;width:400px;left:160px;color:white;text-shadow: black 2px 2px 12px;")
              canvas.viewer(width="400", height="400")
