!!! 5
html(lang="en")
  head
    title Brawl IO
    script(src="vendor/require.js")
    script(src="client/require_paths.js")
    script#dashboard_template(type="text/x-handlebars-template")
      .sidebar
        h2#my_user_name
        a(href="/logout") logout
        .teams
      .main_view
    script#sidebar_team_template(type="text/x-handlebars-template")
      .team 
        a(href="javascript:void(0)")
          .weight_class
          .operations
    script#dashboard_team_template(type="text/x-handlebars-template")
      .tabs
        a.brawls(href="javascript:void(0)") Brawls
        a.edit(href="javascript:void(0)") Edit
      .content
    script#team_editor(type="text/x-handlebars-template")
      .editor
        .toolbar
          a.save(href="javascript:void(0)") Save
          a.verify(href="javascript:void(0)") Verify
          a.test(href="javascript:void(0)") Test
        .text
          textarea#code {{code}}
      .sidebar
    script#replay(type="text/x-handlebars-template")
      .replay
        .controls
          a.play(href="javascript:void(0)") Play
          a.stop(href="javascript:void(0)") Stop
        canvas.viewer(width="300", height="300")

    script
      require(["vendor/jquery", "client/brawlio"], function() {
        $(function() {
          BrawlIO.initialize("#{session_key}", $("#dashboard"));
          window.setTimeout(function() { 
              $("div.team:first").click();
          }, 400);
          window.setTimeout(function() { 
              $("a.test").click();
          }, 500);
        });
      });
  body
    #dashboard
