!!! 5
html(lang="en")
  head
    title Brawl IO
    script(src="vendor/require.js")
    script(src="client/require_paths.js")
    script#dashboard_template(type="text/x-handlebars-template")
      .sidebar
        h2#my_user_name
        a(href="/logout") logout
        .teams
      .main_view
    script#sidebar_team_template(type="text/x-handlebars-template")
      .team 
        a(href="javascript:void(0)")
          .weight_class
          .operations
    script#dashboard_team_template(type="text/x-handlebars-template")
      .tabs
        a.brawls(href="javascript:void(0)") Brawls
        a.edit(href="javascript:void(0)") Edit
      .content
    script#team_editor(type="text/x-handlebars-template")
      .editor
        .toolbar
          a.save(href="javascript:void(0)") Save
          a.verify(href="javascript:void(0)") Verify
          a.test(href="javascript:void(0)") Test
        .text
          textarea#code {{code}}

    script
      require(["vendor/jquery", "client/brawlio"], function() {
        $(function() {
          BrawlIO.initialize("#{session_key}", $("#dashboard"));
          require(["game/models/team", "game/models/map", "game/brawl", "game/replay/replay_renderer"], function(Team, Map, Brawl, ReplayRenderer) {
            var team1 = new Team({id: 1, code: "player.move_forward();player.rotate_counter_clockwise();"});
            var team2 = new Team({id: 2, code: "player.move_forward();"});

            var map = new Map();


            var brawl = new Brawl({
              teams: [team1, team2]
              , map: map
            });
            var replay = brawl.get_replay();
            brawl.run();

            var canvas = $("canvas.replay")[0];
            var ctx = canvas.getContext('2d');
            var replay_renderer = new ReplayRenderer(replay);
            window.setTimeout(function() {
              replay.update();
            }, 2000);
            window.setTimeout(function() {
              replay_renderer.play(ctx);
            }, 3000);

            window.setTimeout(function() {
              brawl.terminate();
            }, 10000);
            
          });
        });
      });
  body
    #dashboard
    canvas.replay(width="300", height="300")
