!!! 5
html(lang="en")
  head
    title Brawl.IO
    link(rel="shortcut icon", href="favicon.ico")
    link(rel="stylesheet", href="vendor/jquery-ui-1.8.14.custom/css/ui-lightness/jquery-ui-1.8.14.custom.css")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="vendor/ace/src/ace.js")
    script(type="text/javascript", src="vendor/ace/src/mode-javascript.js")
    script(type="text/javascript", src="vendor/raphael-min.js")
    != include(bio_inc.dashboard_css)
    != include(bio_inc.dashboard)
    script
      $(function() {
        BrawlIO.initialize($(".body"));
      });
  body
    .header
      .header_contents
        span#title
          a#home(href="javascript:void(0)") Brawl.IO
        span#items
          a#home(href="javascript:void(0)") Home
          a#api(href="api", target="_blank") API
          a#logout(href="logout") Logout
    .body
    .footer
      span.copyright &copy; 2012 Brawl.IO
