!!! 5
html(lang="en")
  head
    title Brawl IO
    link(type="text/css", rel="stylesheet", href="client/css/main.css")
    link(type="text/css", rel="stylesheet", href="client/css/dashboard.css")
    link(type="text/css", rel="stylesheet", href="vendor/jquery-ui-1.8.14.custom/css/ui-lightness/jquery-ui-1.8.14.custom.css")
    script(src="vendor/require.js")
    script(src="client/require_paths.js")
    script
      require(["vendor/jquery", "client/brawlio"], function() {
        $(function() {
          BrawlIO.initialize("#{session_key}", $(".content"));
        });
      });
  body
    .body
      h1 Brawl.IO
      .tabs
        .tab.selected#home
          a(href="/") Home
          .subtab#edit
            a(href="javascript:void(0)") Edit
          .subtab#test
            a(href="javascript:void(0)") Test
        .tab#reference
          a(href="api") Reference
      .content
        #brawls_tab
          a.logout(href="logout") Log out
        #edit_tab
          #editor
            #toolbar
              a.save(href="javascript:void(0)") Save
            #code
              #ace_editor
        #test_tab
          a#dummy_replay(href="javascript:void(0)") Show replay vs. dummy
          .replay
            .controls
              a.play(href="javascript:void(0)") Play
              a.stop(href="javascript:void(0)") Stop
            canvas.viewer(width="250", height="250")
            .console
