!!! 5
html(lang="en")
  head
    title Brawl IO
    script(src="vendor/require.js")
    script(src="client/require_paths.js")
    script
      require(["vendor/jquery"], function() {
        var google_identifier = "https://www.google.com/accounts/o8/id";
        $(function() {
          $("a#google_login").click(function() {
            window.location = "/authenticate?"+$.param({openid_identifier: google_identifier});
          });
        });
      });
  body
    h1 Brawl IO
    a#google_login(href="#") Login with Google
    p Lots of cool shit about Brawl IO
