!!! 5
html(lang="en")
  head
    != include(bio_inc.home_css)
    title Brawl.IO
    link(rel="shortcut icon", href="favicon.ico")
    script(type="text/javascript", src="vendor/jquery.min.js")
    script
      var google_identifier = "https://www.google.com/accounts/o8/id";
      $(function() {
        $("a#google_login").click(function() {
          window.location = "/authenticate?"+$.param({openid_identifier: google_identifier});
        });
      });
  body
    .intro
      #title Brawl.IO
      p.info
        |Brawl.IO is a unique online programming game. Contenders write Javascript to control virtual bots and pit them against each other. Brawl.IO is fun, communal, and a great way to sharpen your programming chops.
      a#google_login(href="javascript:void(0)") Sign in using Google
      p.invite_only We are currently invite-only. If you want an invite, please e-mail 
        a(href="mailto:tsoney@gmail.com") tsoney@gmail.com
        |.
    .footer
      span.copyright &copy; 2012 Brawl.IO
