!!! 5
html(lang="en")
  head
    != include(bio_inc.set_username_css)
    != include(bio_inc.set_username)
    title Brawl.IO
    link(rel="shortcut icon", href="favicon.ico")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript")
      var socket = io.connect();
      socket.on("connect", function() {
        socket.emit("session_key", "#{session_key}", function() {
        });
      });
      $(function() {
        $(".alias_selection").validated_input({
          server_validation: function(inp, callback) {
            socket.emit('username_free', inp, function(is_free) {
              if(is_free) {
                callback(true, "'"+inp+"' is free!")
              } else {
                callback(false, "'"+inp+"' is taken")
              }
            });
          }
        }).on("submit", function(event) {
          var inp = event.value;
          socket.emit("set_username", inp, function(is_ok) {
            if(is_ok) {
              window.location = "/";
            }
          });
        });
      });
  body
    .intro
      #title Brawl.IO
      .choose Choose an alias
        span.star *
        |:
      .alias_selection
      .footnote
        span.star *
        |  3 to 15 letters, numbers, $, and _. Cannot start with a number.
    .footer
      span.copyright &copy; 2012 Brawl.IO
