!!! 5
html(lang="en")
  head
    title Brawl IO
  body
    | Sorry, but Brawl.IO is currently invite only and this e-mail address was not found in our database.
    br
    br
    | We hope to open up soon. Until then, you can always 
    a(href="http://github.com/soney/brawlio") fork our Github repository
    |  and run a Brawl.IO server locally.
    br
    br
    | If you are interested in obtaining an invite, please send an e-mail to Stephen Oney at 
    a(href="mailto:tsoney@gmail.com") tsoney@gmail.com
