
.username {
	font-size: 1.2em;
	margin-bottom: 20px;
}

.body {
	padding: 10px;
}

.sidebar {
	float: left;
	width: 30%;
}

.content {
	float: right;
	width: 70%;
}

.body {
	overflow: hidden;
}

.news_feed, .team_list {
	border: 2px dashed #AAA;
	border-radius: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #AAA;
	font-size: 1.2em;
}

.sidebar_item {
	border: 1px solid #999;
	border-radius: 5px;
}

a.add_bot {
	padding: 3px;
	position: absolute;
	right: 2px;
	font-size: 0.7em;
	font-weight: normal;
}

.sidebar_header {
	padding: 5px;
	background-color: #EEE;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
	font-size: 1.1em;
	color: #555;
	border-bottom: 1px solid #BBB;
	font-weight: bold;
}

.sidebar_content {
	min-height: 2px;
}

.sidebar_footer {
	padding: 2px;
	min-height: 5px;
	background-color: #EEE;
	border-top: 1px solid #BBB;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

span.bot_count {
	color: #888;
}

.new_bot {
	text-align: center;
}

.choose_name {
	color: #999;
	margin-bottom: 7px;
}

.footnote {
	font-size: 0.75em;
	color: #999;
	text-align: left;
	margin-top: 10px;
}

input[type=text].validated_input {
	font-size: 1.1em;
}

.validation_result {
	font-size: 0.8em;
	margin-top: 5px;
}

.sidebar_content .row a {
	display: block;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #DDD;
}
.sidebar_content .row:last-child a {
	border-bottom: none;
}

.sidebar_content .row a:hover {
	background-color: #F7F7F7;
}

.bot.row .rating {
	float: right;
	color: #AAA;
}

.challenge {
	border: 1px solid #AAA;
	border-radius: 3px;
	overflow: hidden;
	font-size: 0.9em;
	height: 150px;
}

.challenge .column {
	float: left;
	border-right: 1px solid #DDD;
	overflow: auto;
	width: 32%;
	height: 100%;
}

.challenge .column.final {
	border-right: none;
	text-align: center;
	padding: 5px;
}

.challenge .row.all {
	font-weight: bold;
}

.challenge .row a {
	display: block;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.challenge .row.selected a {
	color: white;
	background-color: #DF591E;
}

.challenge .row .count {
	float: right;
	color: #AAA;
	padding-right: 10px;
}

.challenge .row.selected .count {
	color: white;
}
.challenge .row.selected .rating {
	color: white;
}

.challenge .bot_title {
	font-size: 1.3em;
	color: #333;
	margin-bottom: 2px;
	margin-top: 8px;
}
.challenge .bot_subtitle {
	font-size: 0.9em;
	color: #777;
	margin-bottom: 10px;
	margin-top: 0px;
}

.record {
	color: #555;
	margin-top: 10px;
}

.test.button {
	padding: 2px;
}
