.header {
	color: white;
	background-color: black;
}


.header .header_contents, .body, .footer {
	min-width: 500px;
	max-width: 800px;
	margin: auto;
}

.header .header_contents {
	overflow: hidden;
	background-color: black;
	padding-top: 3px;
	padding-bottom: 3px;
}

.header_contents span#title {
	overflow: hidden;
}

.header_contents a {
	color: white;
}
.header_contents a:hover {
	color: #E0E0E0;
}

.header_contents span#title a {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.5em;
	float: left;
}

.header_contents span#items {
	float: right;
	top: 4px;
	position: relative;
}

.header_contents span#items a {
	margin-left: 20px;
}

.body {
	padding: 10px;
}
