body {
	background-color: white;
	color: black;
}

.intro, .footer {
	min-width: 500px;
	max-width: 680px;
	margin: auto;
}

.intro {
	text-align: center;
}

.intro #title {
	font-family: "Courier New", Courier, monospace;
	font-size: 3.5em;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.intro p.info {
	text-align: justify;
	margin-bottom: 40px;
	color: #555;
}

.intro a#google_login {
	margin-top: 40px;
	margin-bottom: 30px;
}

.intro p.invite_only {
	color: #999;
	text-align: left;
	margin-top: 30px;
}

.intro p.invite_only a {
	color: #999;
}
