body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 105%;
	padding: 0px;
	margin: 0px;
	background-color: white;
	color: black;
}

a {
	text-decoration: none;
}

.footer {
	border-top: 1px solid #DDD;
	font-size: 0.8em;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}

.copyright {
	float: right;
	color: #AAA;
}

a.button {
	background-color: #DF591E;
	color: white;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid #DDD;
	display: inline-block;
}

a.button:hover {
	background-color: #FF7033;
}

.star {
	color: #DF591E;
}
