body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 105%;
	padding: 0px;
	margin: 0px;
	background-color: white;
	color: black;
}

a {
	text-decoration: none;
}

.footer {
	border-top: 1px solid #DDD;
	font-size: 0.8em;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}

.copyright {
	float: right;
	color: #AAA;
}

a.button {
	background-color: #DF591E;
	color: white;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid #DDD;
	display: inline-block;
}

a.button:hover {
	background-color: #FF7033;
}

a.medium.button {
	padding: 4px;
	font-size: 0.9em;
}

a.small.button {
	padding: 3px;
	font-size: 0.7em;
}

a.button.disabled, a.button.disabled:hover {
	cursor: default;
	background-color: #777777;
}

.star {
	color: #DF591E;
}

input[type=text].validated_input {
	border: 1px solid #999;
	background-color: #F6F6F6;
	border-radius: 3px;
	position: relative;
	top: 1px;
	padding: 5px;
	margin-right: 5px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input[type=text].validated_input.failed {
	background-color: #FFE6E6;
	color: red;
}
input[type=text].validated_input.succeeded {
	background-color: #E6FFE6;
	color: green;
}

.validation_result.failed {
	color: red;
}
.validation_result.succeeded {
	color: green;
}

.tab_pane {
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}

.tab_pane .tab:first-child {
}
.tab_pane .tab a {
	padding: 5px;
}


.tab_pane .tab.selected a {
	font-weight: bold;
	border: 1px solid #999;
	border-bottom: 1px solid white;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.section_header {
	font-size: 1.3em;
	color: #999;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 10px;
}

body > .header {
	color: white;
	background-color: black;
}


.header .header_contents, .body, .footer {
	min-width: 500px;
	max-width: 800px;
	margin: auto;
}

.header .header_contents {
	overflow: hidden;
	background-color: black;
	padding-top: 3px;
	padding-bottom: 3px;
}

.header_contents span#title {
	overflow: hidden;
}

.header_contents a {
	color: white;
}
.header_contents a:hover {
	color: #E0E0E0;
}

.header_contents span#title a {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.5em;
	float: left;
}

.header_contents span#items {
	float: right;
	top: 4px;
	position: relative;
}

.header_contents span#items a {
	margin-left: 20px;
}

.wide_button {
	font-size: 0.9em;
	text-align: center;
	border: 1px solid #EEE;
}

.wide_button a {
	display: block;
	padding: 3px;
	background-color: #F7F7F7;
}
.wide_button a:hover {
	background-color: #F3F3F3;
}
