body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 100%;
	padding: 0px;
	margin: 0px;
	background-color: white;
	color: black;
}

a {
	text-decoration: none;
}

.footer {
	border-top: 1px solid #DDD;
	font-size: 0.8em;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}

.copyright {
	float: right;
	color: #AAA;
}

a.button {
	background-color: #DF591E;
	color: white;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid #DDD;
}
a.button:hover {
	background-color: #FF7033;
}
